blockquote
  display block
  margin-left 0
  margin-right 0
  padding 0.25rem 0.75rem
  background-color rebeccapurple
  $bd-left = 4px
  border-left $bd-left solid cyan
  border-radius $bd-left $border-bar $border-bar $bd-left
  font-size: 30px;